body{
    background-color: #9370DB;
    color: white;
    text-align: center;
}

section{
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin: 30px auto;
    width: 500px;
    text-align: center;
    color: black;
    background-color: #E6E6FA;
}

button{
    font-size: 14pt;
    margin: 12px;
}
