*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3CB371;
    text-align: center;
}

section{
    box-shadow: 2px 2px 4px black;
    border-radius:7px;
    margin: 30px auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #008B8B;
}

h1{
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h5{
    background-color: rgb(17,17,139);
    color:azure;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 2px ;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.x{
    text-shadow: 2px 2px 2px grey;
    margin-top: 20px;
    color: rgb(38,97,205);
    font-size: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pt1{
    font-size: 30px;
}

#pt2{
    font-size: 30px;
}

#pt3{
    font-size: 30px;
}

#pt4{
    font-size: 30px;
}

button{
    background-color: #20B2AA;
    color: azure;
    margin-top: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 2px darkblue;
}

footer{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

